td.navNpc { position: relative; }
td.navClear { position: relative; }
td.navBuilding { position: relative; }
td.navPlanet {position: relative;}
td.navStarbase {position: relative;}
td.navWormhole {position: relative;}
td.navXhole {position: relative;}

/* Text in a circle.  Or oval, sausage-like thingie, if it's a long text. */
div.sweetener-mission {
	position: absolute;
	bottom: 10px;
	left: 10px;
	min-width: 10px;
	height: 10px;
	line-height: 10px;
	background: #f00;
	border-radius: 9px; /* 10px/2 + 2px padding + 2px border */
	border: 2px solid #a1a1af;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 2px;
	text-align: center;
	cursor: default;
}

div.coordGrid {
	position: relative;
	text-align: center;
}

div.coordGridTop {
	padding-bottom: 1px;
	left: 15px;
	height: 0;
	display: inline-block;
	margin-top: -4px;
}

div.coordGridBottom {
	padding-bottom: 1px;
	left: -15px;
	height: 0;
	display: inline-block;
	bottom: 12px;
}

div.coordGridLeft {
	top: 6px;
	left: 12px;
}

div.coordGridRight {
	top: 6px;
	left: -12px;
}

td.sweetener-routeplanner {
    background-color: rgb( 255, 105, 180 ); 
}
.sweetener-routeplanner a {
    opacity: 0.85;
}

.sweetener-routeplanner img {
    position: absolute;
    background-color: rgba(255, 105, 180, 0.15);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}