/* Mimic the look and feel of Chrome settings page (ca. Chrome 29). */

body {
    font-family: system-ui, sans-serif;
    font-size: 75%;
}

body > section {
    min-width: 620px;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 0 20px;
    margin: 0;
}

body > section > h3 {
    cursor: pointer;
    margin: 0;
    padding: 1em 0;
    font-weight: normal;
}

body > section > div {
    display: none;
    padding-bottom: 1em;
}

body > section.active > div {
    display: block;
}

img.float-icon {
    float: left;
    margin: 1ex;
}

p.artemis,
p.orion,
p.pegasus {
    margin-left: 25px;
    position: relative;
}

p.artemis::before {
    content: url("icons/artemis.png");
}
p.orion::before {
    content: url("icons/orion.png");
}
p.pegasus::before {
    content: url("icons/pegasus.png");
}
p.artemis::before,
p.orion::before,
p.pegasus::before {
    position: absolute;
    left: -25px;
    top: 4px;
}

textarea {
    width: 590px;
    overflow-y: scroll;
}

input#displayVisitedDecay {
    width: 4em;
    text-align: right;
}
